<!-- ---
custom_basename: callup
---
<div class="container-fluid main-icons">
  <div class="row">
    <div class="col-6 go-up">
      i virsu
    </div>
    <div class="col-6 mail">
      parasyk
    </div>

  </div>

</div> -->
