---
custom_basename: navbar
---

<div class="topbar">
    <nav class="nav-bar nav-bar--left">
        <ul class="nav-bar__lists">
            <li class="nav-bar__lists__link">
                <a class="bla" href="../web/dashboard.html">
                    <svg class="nav-bar__lists nav-bar__lists--svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#paw"></use>
                    </svg>
                    Dr. Mark
                </a>
            </li>
        </ul>
    </nav>
    <nav class="nav-bar nav-bar--right">
      <!--
        <ul class="nav-bar__lists nav-bar__lists--left">
          <li class="nav-bar__lists__link"><a href="#" id="burger"><svg class="nav-bar__lists nav-bar__lists--svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
                    </svg></a></li>
        </ul>
      -->
        <!--nuo cia home -->
        <ul class=" nav nav-bar__lists nav-bar__lists--right">
            <li class="nav-item nav-bar__lists__link {{#is basename 'dashboard'}}active{{/is}}">
                <a class="nav-bar__lists nav-bar__lists--svg-iconhome nav-link active" href="../web/dashboard.html" id="mygt1">
                    Home
                 </a>
            </li>
            <!--nuo cia aboutn antras mygtukas -->
            <li class=" nav-item nav-bar__lists__link {{#is basename 'aboutme'}}active{{/is}}">
                <a class="nav-bar__lists nav-bar__lists--svg-iconn nav-link" href="../web/aboutme.html">
                    About
                </a>
            </li>
            <!--nuo cia Services trecias mygtukas -->
            <li class="nav-item nav-bar__lists__link {{#is basename 'services'}}active{{/is}}">
                <a class="nav-bar__lists nav-bar__lists--svg-iconn nav-link" href="../web/services.html">
                    Services
                </a>
            </li>
            <!--nuo cia Blog ketrvirtas mygtukas -->
            <li class="nav-item nav-bar__lists__link {{#is basename 'blog'}}active{{/is}}">
                <a class="nav-bar__lists nav-bar__lists--svg-iconn nav-link" href="../web/blog.html">
                    Blog
                </a>
            </li>
            <!--nuo cia Contact penktas mygtukas -->
            <li class="nav-item nav-bar__lists__link {{#is basename 'contacts'}}active{{/is}}">
                <a class="nav-bar__lists nav-bar__lists--svg-iconn nav-link" href="#" id="mygtukass">
                    Contact
                </a>
            </li>

            <!-- nuo cia darysiu menu mygtuka mazam ekranui -->
            <li class="nav-bar__lists__link">
                <a class="bla" href="../web/dashboard.html">
                    <svg class="nav-bar__lists nav-bar__lists--svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#paw"></use>
                    </svg>
                    Dr. Mark
                </a>
            </li>
            <li class="nav-item nav-bar__lists__link {{#is basename 'contacts'}}active{{/is}}">
                <a class="nav-bar__lists nav-bar__lists--svg-iconn nav-link" href="#" id="mygtukass">
                    Contact
                </a>
            </li>
            <li class="nav-bar__lists__link dropdown">
                <a  href="#" role="button" id="activities" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg class="nav-bar__lists nav-bar__lists--svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cropfree"></use>
                </svg>
                 </a>
                <div class="dropdown-menu" aria-labelledby="activities">
                <a class="dropdown-menu__item" href="#">Action</a>
                <a class="dropdown-menu__item" href="#">Another action</a>
                <a class="dropdown-menu__item" href="#">Something else here</a>
                </div>
          </li>

          <!-- iki cia mygtukas mazam ekranui menu -->
            <!--nuo cia tel nr. sestas mygtukas -->
            <li class="nav-item nav-bar__lists__link">
                <a class="nav-bar__lists nav-bar__lists--svg-iconnumber" href="#" role="button" id="notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="phone-number" id="callTo">Call 123-456-7890</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
