---
custom_basename: navbar
---
<div class="container-fluid topbar">
  <div class="row topbar-row">
    <div class="col-4 order-1 col-sm-4 order-sm-1 col-md-2 order-1 topbar-left">
          <a class="topbar-left__link" href="../web/dashboard.html">
              <svg class="topbar-left__link__icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#paw"></use>
              </svg>
              Dr. Mark
          </a>
    </div>
    <div class="col-12 order-3 col-sm-7 order-sm-2 col-md-10 order-md-2 col-lg-10 col-xl-10 order-xl-3 topbar-main d-flex">
      <ul class="topbar-list">
          <li class="topbar-list__link {{#is basename 'dashboard'}}active{{/is}}">
              <a class="topbar-list__link__main nav-link" href="../web/dashboard.html" id="mygt1">
                  Home
               </a>
          </li>

          <li class="topbar-list__link {{#is basename 'aboutme'}}active{{/is}}">
              <a class="topbar-list__link__main nav-link" href="../web/aboutme.html">
                  About
              </a>
          </li>

          <li class="topbar-list__link {{#is basename 'services'}}active{{/is}}">
              <a class="topbar-list__link__main nav-link" href="../web/services.html">
                  Services
              </a>
          </li>

          <li class="topbar-list__link {{#is basename 'blog'}}active{{/is}}">
              <a class="topbar-list__link__main nav-link" href="../web/blog.html">
                  Blog
              </a>
          </li>

          <li class="topbar-list__link {{#is basename 'contacts'}}active{{/is}}">
              <a class="topbar-list__link__main nav-link" href="#" id="mygtukass">
                  Contact
              </a>
          </li>

          <li class="topbar-list__link__call-btn">
              <a class="topbar-list__link__call" href="#" role="button" id="notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="phone-number" id="callTo">Call 123-456-7890</span>
              </a>
          </li>
      </ul>
    </div>
    <div class="col-8 order-2 col-sm-1 order-sm-3 col-md-1 order-md-3 d-md-none col-lg-1 d-lg-none col-xl-1 order-xl-2 d-xl-none topbar-menu">
          <a class="menu-icon-link" href="../web/menu.html">
              <svg class="menu-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
              </svg>
          </a>
    </div>
  </div>
</div>
