---
custom_basename: navbar
---
<div class="topbar">
    <nav class="nav-bar nav-bar--left">
        <ul class="nav-bar__lists">
            <li class="nav-bar__lists__link"><a href="#"><svg class="nav-bar__lists nav-bar__lists--svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#minton"></use>
                    </svg>
                    <span>MINTON</span>
                    </a>
                </li>
        </ul>
    </nav>
    <nav class="nav-bar nav-bar--right">
        <ul class="nav-bar__lists nav-bar__lists--left">
            <li class="nav-bar__lists__link"><a href="#" id="burger"><svg class="nav-bar__lists nav-bar__lists--svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
                    </svg></a></li>
            <input class="nav-bar__lists nav-bar__lists--search" type="search" name="q" placeholder="search...">
            <a class=""><svg class="nav-bar__lists nav-bar__lists--svg-iconf">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
                    </svg></a>
            <br>
        </ul>

        <!--nuo cia dropdown -->
       <ul class="nav-bar__lists nav-bar__lists--right">
         <li class="nav-bar__lists__link dropdown">
                <a  href="#" role="button" id="activities" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg class="nav-bar__lists nav-bar__lists--svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cropfree"></use>
                </svg>
                 </a>
                <div class="dropdown-menu" aria-labelledby="activities">
                <a class="dropdown-menu__item" href="#">Action</a>
                <a class="dropdown-menu__item" href="#">Another action</a>
                <a class="dropdown-menu__item" href="#">Something else here</a>
                </div>
          </li>
        <!--nuo cia dropdown antras mygtukas -->

         <li class="nav-bar__lists__link dropdown navbar-vertical--closed" id="navbar-vertical">
                <a  href="#" role="button" id="notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg class="nav-bar__lists nav-bar__lists--svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#morehoriz"></use>
                </svg>
                 </a>
                 <!--circle veikia padaryti -->

                <div class="dropdown-menu" aria-labelledby="notifications">
                <a class="dropdown-menu__item" href="#">
                        <div class="circle circle--danger">
                        <svg class="svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
                        </svg>
                        </div>
                        <div class="dropdown-menu__item__title">
                                <h5>Mark</h5>
                                <p class="">1min</p>
                        </div>
                </a>
                <a class="dropdown-menu__item" href="#">
                        <div class="circle circle--success">
                        <svg class="svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#timeline"></use>
                        </svg>
                        </div>
                        <div class="dropdown-menu__item__title">
                                <h5>John</h5>
                                <p class="">1min</p>
                        </div>
                </a>
                <a class="dropdown-menu__item" href="#">
                        <div class="circle circle--primary">
                        <svg class="svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#morehoriz"></use>
                        </svg>
                        </div>
                        <div class="dropdown-menu__item__title">
                                <h5>Alice</h5>
                                <p class="">1min</p>
                        </div>
                </a>
        </li>
        <!--nuo cia dropdown trecias mygtukas -->
            <li class="nav-bar__lists__link dropdown">
                <a  href="#" role="button" id="notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg class="nav-bar__lists nav-bar__lists--svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#addalert"></use>
                </svg>
                 </a>
                <div class="dropdown-menu" aria-labelledby="notifications">
                <a class="dropdown-menu__item" href="#">
                        <div class="circle circle--danger">
                        <svg class="svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#morehoriz"></use>
                        </svg>
                        </div>
                        <div class="dropdown-menu__item__title">
                                <h5>Rober</h5>
                                <p class="">1min</p>
                        </div>
                </a>
                <a class="dropdown-menu__item" href="#">
                        <div class="circle circle--success">
                        <svg class="svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#morehoriz"></use>
                        </svg>
                        </div>
                        <div class="dropdown-menu__item__title">
                                <h5>New</h5>
                                <p class="">1min</p>
                        </div>
                </a>
                <a class="dropdown-menu__item" href="#">
                        <div class="circle circle--primary">
                        <svg class="svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#morehoriz"></use>
                        </svg>
                        </div>
                        <div class="dropdown-menu__item__title">
                                <h5>Carlos</h5>
                                <p class="">1min</p>
                        </div>
                </a>
                </div>
          </li>
        <!--nuo cia prisijungimo account mygtukas -->

             <li class="nav-bar__lists__link dropdown">
                <a  href="#" role="button" id="activities" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg class="nav-bar__lists nav-bar__lists--svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#accountcircle"></use>
                </svg>
                 </a>
                <div class="dropdown-menu" aria-labelledby="activities">

               <a class="dropdown-menu__item" href="#"><svg class="nav-bar__lists nav-bar__lists--svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#accountcircle"></use>
                        </svg>
                        <div class="dropdown-menu__item__title">
                                <h5>Profile</h5>
                        </div>
                </a>

                <a class="dropdown-menu__item" href="#"><svg class="nav-bar__lists nav-bar__lists--svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#accountcircle"></use>
                        </svg>
                        <div class="dropdown-menu__item__title">
                                <h5>Settings</h5>
                        </div>
                </a>

                <a class="dropdown-menu__item" href="#"><svg class="nav-bar__lists nav-bar__lists--svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#accountcircle"></use>
                        </svg>
                        <div class="dropdown-menu__item__title">
                                <h5>Lock Screen</h5>
                        </div>
                </a>
                 <a class="dropdown-menu__item" href="#"><svg class="nav-bar__lists nav-bar__lists--svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#accountcircle"></use>
                        </svg>
                        <div class="dropdown-menu__item__title">
                                <h5>Logout</h5>
                        </div>
                </a>
                </div>
          </li>
        </ul>
    </nav>
</div>
