---
custom_basename: title
---
 <div class="section-title">
     <div class="container-fluid">
         <div class="row">
             <div class="col-sm-6">
                 <h4>Welcome !</h4>
             </div>
             <div class="col-sm-6 section-title__nav text-right">
                 <span><a href="/dashboard.html">Title </a></span>
                 <a href=""><span id="basename"></span></a>
             </div>
         </div>
     </div>
 </div>
