<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Document</title>
     {{#is default.lang 'lt'}}
            <link rel="stylesheet" href="../assets/css/app.css">
        {{else}}
            <link rel="stylesheet" href="assets/css/app.css">
        {{/is}}




</head>
<body>
    {{>navbar}}

    <div class="section-container">
        {{>title}}
        {{body}}
    </div>

    {{#is basename 'index'}}
    {{>footer}}
    {{/is}}
    <!--	<div class="svg-sprite-container">{{> 'sprite.symbol' }}</div> -->

         {{#is default.lang 'lt'}}
        <script type="text/javascript" src="../../node_modules/chart.js/dist/Chart.min.js"></script>
        {{else}}
        <script type="text/javascript" src="../node_modules/chart.js/dist/Chart.min.js"></script>
        {{/is}}

         <script type="text/javascript" src="assets/js/chart.js"></script>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/app.js"></script>
</body>
</html>
