.about-me-section{
      h1{
          padding-top: 60px;
        }
        .about-me{
          h5{
            padding-bottom: 30px;
            text-align: left;
            padding-left: 120px;
            font-size: 150%;
          }
          p{
            font-size: large;
            padding: 0;
            padding-bottom: 20px;
          }

        }
        .pet-care{
          background: white;
          h5{
            padding-bottom: 30px;
            padding-left: 10px;
            font-size: 150%;
            text-align: left;
            padding-left: 140px;
          }
          p{
            padding-left: 140px;
            font-size: large;
          }
        }
}
@media screen and (max-width: 1200px) {
  .about-me-section{
        h1{
            padding-top: 60px;
          }
          .about-me{
            h5{
              padding-bottom: 30px;
              text-align: left;
              padding-left: 0;
              font-size: 150%;
            }
            p{
              font-size: large;
            }
            .v-align{
              padding-left: 40px;
              padding-right: 0;
            }
          }
          .pet-care{
            background: white;
            h5{

              padding-bottom: 30px;
              padding-left: 10px;
              font-size: 150%;
              text-align: left;

            }
            p{
              padding-left: 10px;
              font-size: large;
            }
          }
  }
}
@media screen and (max-width: 992px) {
  .about-me-section{
        h1{
            padding-top: 60px;
          }
          .about-me{
            h5{
              padding-top: 30px;
              padding-bottom: 30px;
              text-align: left;
              padding-left: 0;
              font-size: 150%;
              text-align: center;
            }
            p{
              font-size: large;
              padding-right: 10px;
              padding-left: 10px;
            }
            .v-align{

              padding-right: 20px;
            }

          }
          .pet-care{
            background: white;
            h5{

              padding-bottom: 30px;

              padding-left: 0px;
              font-size: 150%;
              text-align: center;

            }
            p{
              padding-right: 10px;
              padding-left: 10px;
              font-size: large;
            }
            .last-photo{
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              padding-top: 30px;
              padding-right: 0;
            }
          }
  }
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 576px) {

}
