.services-section{
      h1{
          padding-top: 60px;
          padding-bottom: 60px;
          -webkit-animation: slide_up 1.4s ease;
                  animation: slide_up 1.4s ease;
        }
        .content-with{



          .boxes--servicessection{
            -webkit-animation: slide_up 2.1s ease;
                    animation: slide_up 2.1s ease;
            .grooming{
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              .boxes__image--gromming{
                width: 193px;
                height: 193px;
                border-radius: 50%;
                -webkit-transition: 0.5s;
                transition: 0.5s;
                -webkit-transition-duration: 500ms;
                        transition-duration: 500ms;
                -webkit-transition-property: -webkit-transform;
                transition-property: -webkit-transform;
                transition-property: transform;
                transition-property: transform, -webkit-transform;
                -webkit-transition-timing-function: ease-in-out;
                        transition-timing-function: ease-in-out;

                        -webkit-transform: scaleY(1);
                                transform: scaleY(1);
                         -webkit-transform-origin: top;
                                 transform-origin: top;

              }

            }
            .services-info{
              text-align: center;
              padding-top: 60px;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              .boxes__title{

              }
              .price{
                padding-top: 40px;
                padding-bottom: 40px;
              }
              .boxes__info{
                display: none;

              }
              .learn-more{
                border-bottom: 1px solid $bg-blue;
                display: none;
              }
              .book-it{
                margin-top: 40px;
                margin-bottom: 60px;
                width: 100px;
                height: 40px;
                line-height: 40px;
                background: $bg-blue;
                color: white;

              }
            }
          }
        }
}
#expand-info:hover{

.boxes__info{
  display: block;
}
 .learn-more{
   display: block;
   text-decoration: none;
 }
 .boxes__image--gromming{
   -webkit-transform: scaleY(0);
           transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
 }
}


@-webkit-keyframes slide_up{
  0%{
    -webkit-transform: translateY(250px);
            transform: translateY(250px);
  }
  100%{
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slide_up{
  0%{
    -webkit-transform: translateY(250px);
            transform: translateY(250px);
  }
  100%{
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
