@import 'variables.scss';
@import 'icons.scss';
@import 'layouts.scss';
@import 'utils.scss';


body{
    margin: 0;
    background: $bg-color;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
p{
    margin: 0;
}
h1,h2,h3,h4,h5{
    margin: 0;
    text-align: center;
}
h6{
    font-size: 16px;
}
