.svg-icon{
    height: 24px;
    width: 24px;
    fill: white;
}
@mixin arrow($color: $mid-gray, $rotate: -45deg) {
    content: " ";
    position: absolute;
    right: 20px;
    top: 50%;
    border: solid $color;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transfor: rotate($rotate), translateY(-50%);;


}
@mixin circle($height: 80px, $width: 80px){
    height: $height;
    width: $width;
    border-radius: 50%;
    position: relative;
}
.circle{

    &--border{
        border: 5px solid ;
    }
    &--success{
        background: $color-success;
        border-color: $color-success-ol;
    }
    &--danger{
        background: $color-danger;
        border-color: $color-danger-ol;
    }
    &--primary{
        background: $color-primary;
        border-color: $color-primary-ol;
    }
    &--secondary{
        background: $color-secondary;
        border-color: $color-secondary-ol;
    }
    .svg-icon{
        position: absolute;
        top: 50%;
        width: 32px;
        height: 32px;
        transform: translate(-50%, -50%);
        left: 50%;
        bottom: 0;
        right: 0;
        fill: #fff;

    }

}

.labas{
    border-bottom: black 2px solid;
}
