.section-container{
    margin-top: $nav-height + 20;
    margin-left: $nav-left-width + 15;
    &--closed{
        margin-left: 90px;
    }
    .section-title{
        &__nav{
            span{
                &:first-of-type{
                    &:after{
                        content: '/'
                    }
                }
            }
        }
    }
    }
.boxes{
    -webkit-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    padding: 15px;
    background: #fff;
    margin-bottom: 15px;
    .circle{
        @include circle();
    }
    &__title{
      }
      &--right{
          text-align: right;
      }
      &__image{
          width: 80px;
          height: 80px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 20px;
      }
      &--flex{
          display: flex;
      }
      &__user-info{
          margin-left: 20px;
         p{
            &:first-of-type{
                color: $mid-gray;
            }
         }
      }
}
.user-role{
    &--user{
        color: $color-user;
        font-weight: 600;
    }
    &--admin{
        color: $color-admin;
    }
    &--master{
        color: $color-master;
    }
}
.sidenav-closed{
    .topbar{
        .nav-bar{
            &--left{
                width: $sidenav-closed-width;
                span{
                    display: none;
                }
            }
        }
    }
    .section-container{
        margin-left: $sidenav-closed-width + 15;
    }
}
