.section-container{
    margin-top: $navbar-height;
    background: lightblue;
    }
.container-fluid{
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
.boxes{
    background: #fff;
    .circle{
        @include circle();
    }
    &__title{
      }
      &--petcaresection{
          height: 731px;
          text-align: right;
          background: $navbar-bg;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      &--aboutmesection{
        height: 580px;
        text-align: right;
        background: lime;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &--servicessection{
        height: 878px;
        text-align: right;
        background: white;
        display: flex;
        justify-content: center;
      }
      &--lovemyclientssection{
        height: 372px;
        text-align: right;
        background: white;
        display: flex;
        justify-content: center;
      }
      &--whatpetownrssaysection{
        height: 550px;
        text-align: right;
        background: white;
        display: flex;
        justify-content: center;
      }
      &-contactsection{

        text-align: right;
        background: white;
        display: flex;
        justify-content: center;
      }
      &__image{
          width: 80px;
          height: 80px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 20px;
          &--petcare{
            display: flex;
            width: 479px;
            height: 478px;
            border-radius: 50%;
          }
          &--aboutme{
            width: 479px;
            height: 478px;
            border-radius: 50%;
            //object-fit: cover;
            margin-right: 20px;
          }
          &--gromming{
            display: flex;
            width: 230px;
            height: 227px;
            border-radius: 50%;
          }
      }
      &--flex{
          display: flex;
      }
      &__user-info{
          margin-left: 20px;
         p{
            &:first-of-type{
                color: red;
            }
         }
      }
}
.pabandymui{
  background: $bg-blue;
  color: white;
  input, textarea{
      color: white;
      background: $bg-blue;
      border: none;
      border-bottom: solid 1px;
      &::placeholder{
      color: white;
    }
  }
  .boxes{
        &--contactsection{
          text-align: center;
          background: $bg-blue;
          //display: flex;
          justify-content: center;
        }
        &--contactsectionicon{
          text-align: center;
          background: red;
          display: flex;
          justify-content: center;
        }
        .button {
         background: $bg-blue;
         border: none;
         color: white;
          // padding: 15px 32px;
          // text-align: center;
          text-decoration: none;
          // display: inline-block;
          // font-size: 16px;
          // margin: 4px 2px;
          cursor: pointer;
        }
        &__image{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
            display: flex;
            &--contact{
              width: 288px;
              height: 157px;
            }
        }
    }
}
