.section-container{
    margin-top: $navbar-height;
    background: white;
    color: $bg-blue;
    }
.container-fluid{
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  h2{
    color: $bg-blue;
    width: 100%;
    height: 73px;
  }
  .pet-care{
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    height: auto;
    text-align: right;
    background: $navbar-bg;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

            h1{
              font-size: 130px;
              font-weight: bold;
              text-align: left;
              padding-left: 160px;
            }
            p{
              font-size: 26px;
              text-align: left;
              padding-left: 160px;
            }
            a{
              padding-left: 180px;
              -webkit-box-align: left;
                  -ms-flex-align: left;
                      align-items: left;
              -webkit-box-pack: left;
                  -ms-flex-pack: left;
                      justify-content: left;
              text-align: left;
              span{
                padding: 10px 20px;
                width: auto;
                height: 40px;
                background: $bg-blue;
                color: white;
                -webkit-transition: color 0.4s;
                -webkit-transition: color 0.4s ease 0s;
                transition: color 0.4s ease 0s;
              }
            }
  }
  .about-me{
    padding-top: 96px;
    padding-bottom: 80px;
    padding-right: 40px;
    position: relative;
    height: auto;
    text-align: right;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

            h1{
              padding-bottom: 60px;
              font-size: 100px;
              font-weight: bold;
              text-align: left;
              padding-left: 120px;
            }
            p{
              padding-bottom: 80px;
              font-size: 20px;
              text-align: left;
              padding-left: 120px;
            }
            a{
              padding-left: 140px;
              -webkit-box-align: left;
                  -ms-flex-align: left;
                      align-items: left;
              -webkit-box-pack: left;
                  -ms-flex-pack: left;
                      justify-content: left;
              text-align: left;
              span{
                padding: 10px 20px;
                width: auto;
                height: 40px;
                background: $bg-blue;
                color: white;
                -webkit-transition: color 0.4s;
                -webkit-transition: color 0.4s ease 0s;
                transition: color 0.4s ease 0s;
              }
            }
          }
      .content-with{
        padding-left: 55px;
        padding-right: 40px;
      }

      .boxes{
              .circle{
                  @include circle();
              }
              &--servicessection{
                  height: 750px;
                  text-align: center;
                  background: white;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-orient: vertical;
                  -webkit-box-direction: normal;
                      -ms-flex-direction: column;
                          flex-direction: column;
                  .grooming{
                      margin: 0 auto;
                      -webkit-box-pack: center;
                          -ms-flex-pack: center;
                              justify-content: center;
                      padding-bottom: 20px;

                      .boxes__image--gromming{
                        width: 230px;
                        height: 227px;
                        border-radius: 50%;
                      }
                    }
                    p{
                      padding: 30px 20px 50px 20px;
                    }
                    a{

                      span{
                        padding: 10px 20px;
                        width: 142px;
                        height: 40px;
                        background: $bg-blue;
                        color: white;
                        // -webkit-transition: color 0.4s;
                        // -webkit-transition: color 0.4s ease 0s;
                        // transition: color 0.4s ease 0s;
                      }
                    }
                }
              &--lovemyclientssection{
                  height: 372px;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-pack: center;
                      -ms-flex-pack: center;
                          justify-content: center;
                  padding-bottom: 20px;
                  .boxes__photo{
                      width: 100%;
                      height: 100%;

                  }
                }
              &--whatpetownrssaysection{
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-orient: vertical;
                  -webkit-box-direction: normal;
                      -ms-flex-direction: column;
                          flex-direction: column;
                  height: 480px;
                  text-align: center;
                  background: white;
                  .what-say-owners{
                    padding-top: 30px;
                    padding-bottom: 50px;
                  }
                }
                &__image{
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    -o-object-fit: cover;
                       object-fit: cover;
                    margin-right: 20px;
                    &--petcare{
                      display: -webkit-box;
                      display: -ms-flexbox;
                      display: flex;
                      width: 479px;
                      height: 478px;
                      border-radius: 50%;
                    }
                    &--aboutme{
                      width: 479px;
                      height: 478px;
                      border-radius: 50%;
                      margin-right: 20px;
                      margin-left: 100px;
                    }
                }
          }
  h2{
    padding-top: 40px;
    padding-bottom: 140px;
    color: $bg-blue;
    font-size: 40px;
  }
}
#test div {
    opacity: 0;
    -webkit-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}
#test div.load {
    opacity: 1;
}
@media screen and (max-width: 768px) {
  .contact-section{
    background: red;
  }
}
