
$default-bg: blue;
$nav-height: 70px;
$default-sidenav-bg: #DCDCDC;
$hover-sidenav-bg: #A9A9A9;
$box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
$default-main-bg: #A9A9A9;
$default-footer-bg: #C0C0C0;
$border-radius: 3px;
$bg-color: #ebebeb;

$color-success: rgba(102, 187, 106, 0.75);
$color-success-ol: rgba(102, 187, 106, 0.35);
$color-primary: rgba(63, 81, 181, 0.75);
$color-primary-ol: rgba(63, 81, 181, 0.35);
$color-danger: rgba(238, 110, 115, 0.75);
$color-danger-ol: rgba(238, 110, 115, 0.35);
$color-secondary: rgba(156, 39, 176, 0.75);
$color-secondary-ol: rgba(156, 39, 176, 0.35);
$mid-gray: #80898e;
$text-color: #343c49;
$light-gray: #f5f5f5;

$color-admin: #ec407a;
$color-user: #66bb6a;
$color-master: lime;

$sidenav-closed-width: 70px;


//nuo mano projektas
$navbar-bg: #FEF7ED;
$bg-blue: #3A54B4;
$navbar-height: 106px;
$nav-left-width: 240px;
