---
custom_basename: aboutme
---
<div class="container-fluid" id="test">
    <div class="about-me-section">
      <h1>Hi, I'm Dr. Mark Edwards</h1>
      <div class="row about-me">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-5">
              <img class="boxes__image--aboutme" src="assets/images/aboutmee.jpg" alt="About me picture">
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-7 v-align">
              <h5>Over 16 Years of Veterinary Experience</h5>
              <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</p>
              <p>This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors.</p>
          </div>
      </div>
      <div class="row pet-care">
            <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                <h5>There's No Place like Home</h5>
                <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 last-photo">
                <img class="boxes__image--petcare" src="assets/images/aboutmeee.jpg" alt="Pet Care picture">
            </div>
      </div>
    </div>
</div>
