---
custom_basename: blog
---
<div class="container" id="test">
  <div><h1>Pet Health Tips & More</h1></div>
  <div class="blog">
    <!-- Pirmas irasas -->
    <div class="row blog-section">
      <div class="col col-xl-6 image-section">
        <img class="blog-image" src="assets/images/blog1.jpg" alt="About me picture">
      </div>
      <div class="col col-xl-6 content-section">
        <div class="blog-date">
            <p class="">Feb 21 | 1 min</p>
            <a href="https://www.google.com/">
                <svg class="blog-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dots"></use>
                </svg>
            </a>
        </div>
        <h4 class="blog-title">Pet Allergies</h4>
        <h6 class="blog-content">Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading. Welcome to your blog post. Use this space to connect with your readers and potential customers in a way that’s current and interesting...</h6>
        <div class="blog-more">
            <p class="">9 views Write a comment</p>
            <a href="https://www.google.com/">
                <svg class="blog-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#heart"></use>
                </svg>
            </a>
        </div>
      </div>
    </div>
    <!-- Antras irasas -->
    <div class="row blog-section">
      <div class="col col-xl-6 image-section">
        <img class="blog-image" src="assets/images/blog2.jpg" alt="About me picture">
      </div>
      <div class="col col-xl-6 content-section">
        <div class="blog-date">
            <p class="">Feb 21 | 1 min</p>
            <a href="https://www.google.com/">
                <svg class="blog-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dots"></use>
                </svg>
            </a>
        </div>
        <h4 class="blog-title">How to know if your cat is in pain</h4>
        <h6 class="blog-content">Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading. Welcome to your blog post. Use this space to connect with your readers and potential customers in a way that’s current and interesting...</h6>
        <div class="blog-more">
            <p class="">4 views Write a comment</p>
            <a href="https://www.google.com/">
                <svg class="blog-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#heart"></use>
                </svg>
            </a>
        </div>
      </div>
    </div>
    <!-- Trecias irasas -->
    <div class="row blog-section">
      <div class="col col-xl-6 image-section">
        <img class="blog-image" src="assets/images/blog3.jpg" alt="About me picture">
      </div>
      <div class="col col-xl-6 content-section">
        <div class="blog-date">
            <p class="">Feb 21 | 2 min</p>
            <a href="https://www.google.com/">
                <svg class="blog-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dots"></use>
                </svg>
            </a>
        </div>
        <h4 class="blog-title">How to clean your dog's teeth</h4>
        <h6 class="blog-content">Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading. Welcome to your blog post. Use this space to connect with your readers and potential customers in a way that’s current and interesting...</h6>
        <div class="blog-more">
            <p class="">4 views Write a comment</p>
            <a href="https://www.google.com/">
                <svg class="blog-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#heart"></use>
                </svg>
            </a>
        </div>
      </div>
    </div>
    <!-- Ketvirtas irasas -->
    <div class="row blog-section">
      <div class="col col-xl-6 image-section">
        <img class="blog-image" src="assets/images/blog4.jpg" alt="About me picture">
      </div>
      <div class="col col-xl-6 content-section">
        <div class="blog-date">
            <p class="">Feb 21 | 2 min</p>
            <a href="https://www.google.com/">
                <svg class="blog-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dots"></use>
                </svg>
            </a>
        </div>
        <h4 class="blog-title">Summer tips for dogs</h4>
        <h6 class="blog-content">Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading. Welcome to your blog post. Use this space to connect with your readers and potential customers in a way that’s current and interesting...</h6>
        <div class="blog-more">
            <p class="">3 views Write a comment</p>
            <a href="https://www.google.com/">
                <svg class="blog-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#heart"></use>
                </svg>
            </a>
        </div>
      </div>
    </div>
    <!-- Penktas irasas -->
    <div class="row blog-section">
      <div class="col col-xl-6 image-section">
        <img class="blog-image" src="assets/images/blog5.jpg" alt="About me picture">
      </div>
      <div class="col col-xl-6 content-section">
        <div class="blog-date">
            <p class="">Feb 21 | 3 min</p>
            <a href="https://www.google.com/">
                <svg class="blog-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dots"></use>
                </svg>
            </a>
        </div>
        <h4 class="blog-title">Healthy weight</h4>
        <h6 class="blog-content">Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading. Welcome to your blog post. Use this space to connect with your readers and potential customers in a way that’s current and interesting...</h6>
        <div class="blog-more">
            <p class="">5 views Write a comment</p>
            <a href="https://www.google.com/">
                <svg class="blog-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#heart"></use>
                </svg>
            </a>
        </div>
      </div>
    </div>
    <!-- Sestas irasas -->
    <div class="row blog-section">
        <div class="col col-xl-6 image-section">
            <img class="blog-image" src="assets/images/blog6.jpg" alt="About me picture">
        </div>
        <div class="col col-xl-6 content-section">
          <div class="blog-date">
              <p class="">Feb 21 | 8 min</p>
              <a href="https://www.google.com/">
                  <svg class="blog-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dots"></use>
                  </svg>
              </a>
          </div>
          <h4 class="blog-title">Diseases you can catch from your pet</h4>
          <h6 class="blog-content">Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading. Welcome to your blog post. Use this space to connect with your readers and potential customers in a way that’s current and interesting...</h6>
          <div class="blog-more">
              <p class="">13 views Write a comment</p>
              <a href="https://www.google.com/">
                  <svg class="blog-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#heart"></use>
                  </svg>
              </a>
          </div>
        </div>
    </div>
    <!-- Septintas irasas -->
    <div class="row blog-section">
      <div class="col col-xl-6 image-section">
        <img class="blog-image" src="assets/images/blog7.jpg" alt="About me picture">
      </div>
      <div class="col col-xl-6 content-section">
        <div class="blog-date">
            <p class="">Feb 21 | 45 min</p>
            <a href="https://www.google.com/">
                <svg class="blog-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dots"></use>
                </svg>
            </a>
        </div>
        <h4 class="blog-title">Are you supposed to bathe a cat?</h4>
        <h6 class="blog-content">Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading. Welcome to your blog post. Use this space to connect with your readers and potential customers in a way that’s current and interesting...</h6>
        <div class="blog-more">
            <p class="">3 views Write a comment</p>
            <a href="https://www.google.com/">
                <svg class="blog-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#heart"></use>
                </svg>
            </a>
        </div>
      </div>
    </div>
    <div class="row blog-section-subscribe">
      <h2>Subscribe to the blog</h2>
      <div class="col col-xl-9 subscribe-coll">
        <form class="" action="index.html" method="post">
          <svg class="blog-icon-mail">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mail"></use>
          </svg>
          <input type="email" name="email" value="" placeholder="Email Address">
        </form>
      </div>
      <div class="col col-xl-3 subscribe-button">
        <a href="https://www.delfi.lt/">Subscribe Now</a>
      </div>
    </div>
  </div>
</div>
