---
custom_basename: blog
---
<div class="container">
  <h1>Pet Health Tips & More</h1>
  <!-- Pirmas irasas -->
  <div class="row">
    <div class="col col-xl-6">
      <img class="blog-image" src="assets/images/blog1.jpg" alt="About me picture">
    </div>
    <div class="col col-xl-6">
      2 of 2
    </div>
  </div>
  <!-- Antras irasas -->
  <div class="row">
    <div class="col col-xl-6">
      <img class="blog-image" src="assets/images/blog2.jpg" alt="About me picture">
    </div>
    <div class="col col-xl-6">
      2 of 2
    </div>
  </div>
  <!-- Trecias irasas -->
  <div class="row">
    <div class="col col-xl-6">
      <img class="blog-image" src="assets/images/blog3.jpg" alt="About me picture">
    </div>
    <div class="col col-xl-6">
      2 of 2
    </div>
  </div>
  <!-- Ketvirtas irasas -->
  <div class="row">
    <div class="col col-xl-6">
      <img class="blog-image" src="assets/images/blog4.jpg" alt="About me picture">
    </div>
    <div class="col col-xl-6">
      2 of 2
    </div>
  </div>
  <!-- Penktas irasas -->
  <div class="row">
    <div class="col col-xl-6">
      <img class="blog-image" src="assets/images/blog5.jpg" alt="About me picture">
    </div>
    <div class="col col-xl-6">
      2 of 2
    </div>
  </div>
  <!-- Sestas irasas -->
  <div class="row">
    <div class="col col-xl-6">
      <img class="blog-image" src="assets/images/blog6.jpg" alt="About me picture">
    </div>
    <div class="col col-xl-6">
      2 of 2
    </div>
  </div>
  <!-- Septintas irasas -->
  <div class="row">
    <div class="col col-xl-6">
      <img class="blog-image" src="assets/images/blog7.jpg" alt="About me picture">
    </div>
    <div class="col col-xl-6">
      2 of 2
    </div>
  </div>
  <div class="row">
    <h3>Subscribe to the blog</h3>
    <div class="col col-xl-8">
      <form class="" action="index.html" method="post">
        <input type="email" name="email" value="" placeholder="Email Address">
      </form>
    </div>
    <div class="col col-xl-4">
      <a href="#">Subscribe Now</a>
    </div>
  </div>
</div>
