---
custom_basename: dashboard
---
<div class="container-fluid" id="apac1">
  <!--PET CARE pirmas row-->
    <div class="row pet-care" id="test">
            <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                <h1>Pet Care</h1>
                <p>House Call Veterinarian</p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 pet-img">
                <img class="boxes__image--petcare" src="assets/images/petcare.jpg" alt="Pet Care picture">
            </div>
            <a href="../web/services.html"><span>SHEDULE A VISIT</span></a>
    </div>
    <!--ABOUT ME antras row-->
    <div class="row about-me">
        <div class="col-md-12 col-lg-5 col-xl-6">
            <img class="boxes__image--aboutme" src="assets/images/aboutme.jpg" alt="About me picture">
        </div>
        <div class="col-md-12 col-lg-7 col-xl-6 v-align">
            <h1>About me</h1>
            <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>
            <a href="../web/aboutme.html"><span>READ MORE</span></a>
        </div>
    </div>
<!--Services trecias row-->
    <h2>Services</h2>
    <div class="row content-with">
        <div class="col-lg-6 col-xl-4">
          <div class="boxes boxes--servicessection">
              <div class="grooming">
                  <img class="boxes__image--gromming" src="assets/images/grooming.jpg" alt="Grommig picture">
              </div>
              <div class="boxes__user-info v-align">
                  <h3 class="boxes__title">Grooming</h3>
                  <p class="boxes__info">Use this area to describe one of your services. You can change the title to the service you provide and use this text area to describe your service. Feel free to change the image.</p>
                  <a href="../web/services.html"><span>BOOK NOW</span></a>
              </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-4">
          <div class="boxes boxes--servicessection">
              <div class="grooming">
                  <img class="boxes__image--gromming" src="assets/images/checkup.jpg" alt="user picture">
              </div>
              <div class="boxes__user-info v-align">
                  <h3 class="boxes__title">Checkup</h3>
                  <p class="boxes__info">Use this area to describe one of your services. You can change the title to the service you provide and use this text area to describe your service. Feel free to change the image.Use this area to describe one of your services. You can change the title to the service you provide and use this text area to describe your service. Feel free to change the image.</p>
                  <a href="../web/services.html"><span>BOOK NOW</span></a>
              </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-4">
          <div class="boxes boxes--servicessection">
              <div class="grooming">
                  <img class="boxes__image--gromming" src="assets/images/dentalcare.jpg" alt="user picture">
              </div>
              <div class="boxes__user-info v-align">
                  <h3 class="boxes__title">Dental Care</h3>
                  <p class="boxes__info">Use this area to describe one of your services. You can change the title to the service you provide and use this text area to describe your service. Feel free to change the image.</p>
                  <a href="../web/services.html"><span>BOOK NOW</span></a>
              </div>
          </div>
        </div>
  </div>
    <!--Love my clients ketvirtas row-->
  <h2>Love My Clients</h2>
  <div class="row content-with">
      <div class="col-md-6 col-lg-6 col-xl-4">
        <div class="boxes boxes--lovemyclientssection">
            <img class="boxes__photo left" src="assets/images/suo1.jpg" alt="suo1 picture">
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-4">
        <div class="boxes boxes--lovemyclientssection">
            <img class="boxes__photo" src="assets/images/suo2.jpg" alt="suo2 picture">
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-4">
        <div class="boxes boxes--lovemyclientssection">
            <img class="boxes__photo" src="assets/images/suo3.jpg" alt="suo3 picture">
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-4">
        <div class="boxes boxes--lovemyclientssection">
            <img class="boxes__photo left" src="assets/images/suo4.jpg" alt="suo4 picture">
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-4">
        <div class="boxes boxes--lovemyclientssection">
            <img class="boxes__photo" src="assets/images/suo5.jpg" alt="suo5 picture">
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-4">
        <div class="boxes boxes--lovemyclientssection">
            <img class="boxes__photo" src="assets/images/suo6.jpg" alt="suo6 picture">
        </div>
      </div>
  </div>
<!--what pet owners say-->
  <h2 class="">What Pet Owners Say</h2>
  <div class="row content-with">
      <div class="col-lg-6 col-xl-4">
          <div class="boxes boxes--whatpetownrssaysection">
              <h3 class="boxes__title">"Very Professional"</h3>
              <p class="what-say-owners">“I'm a testimonial. Click to edit me and add text that says something nice about you and your services. Let your customers review you and tell their friends how great you are.”</p>
              <p>Daria Cowan</p>
          </div>
      </div>
      <div class="col-lg-6 col-xl-4">
          <div class="boxes boxes--whatpetownrssaysection">
              <h3 class="boxes__title">"Great Service"</h3>
              <p class="what-say-owners">“I'm a testimonial. Click to edit me and add text that says something nice about you and your services. Let your customers review you and tell their friends how great you are.”</p>
              <p>Tom Rankin</p>
          </div>
      </div>
      <div class="col-lg-6 col-xl-4" id="myDivvv">
          <div class="boxes boxes--whatpetownrssaysection">
              <h3 class="boxes__title">"Kind & Loving"</h3>
              <p class="what-say-owners">“I'm a testimonial. Click to edit me and add text that says something nice about you and your services. Let your customers review you and tell their friends how great you are.”</p>
              <p>Eva Kendall</p>
          </div>
      </div>
  </div>
</div>
