---
custom_basename: services
---
<h2>House Call Services</h2>
<div class="row content-with">
    <div class="col-lg-6 col-xl-4">
      <div class="boxes boxes--servicessection">
          <div class="grooming">
              <img class="boxes__image--gromming" src="assets/images/dentalcare.jpg" alt="user picture">
          </div>
          <div class="boxes__user-info v-align">
              <h3 class="boxes__title">Dental Care</h3>
              <p class="boxes__info">Use this area to describe one of your services. You can change the title to the service you provide and use this text area to describe your service. Feel free to change the image.</p>
              <a href="#"><span>BOOK NOW</span></a>
          </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-4">
      <div class="boxes boxes--servicessection">
          <div class="grooming">
              <img class="boxes__image--gromming" src="assets/images/checkup.jpg" alt="user picture">
          </div>
          <div class="boxes__user-info v-align">
              <h3 class="boxes__title">Checkup</h3>
              <p class="boxes__info">Use this area to describe one of your services. You can change the title to the service you provide and use this text area to describe your service. Feel free to change the image.Use this area to describe one of your services. You can change the title to the service you provide and use this text area to describe your service. Feel free to change the image.</p>
              <a href="#"><span>BOOK NOW</span></a>
          </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-4">
      <div class="boxes boxes--servicessection">
          <div class="grooming">
              <img class="boxes__image--gromming" src="assets/images/grooming.jpg" alt="Grommig picture">
          </div>
          <div class="boxes__user-info v-align">
              <h3 class="boxes__title">Grooming</h3>
              <p class="boxes__info">Use this area to describe one of your services. You can change the title to the service you provide and use this text area to describe your service. Feel free to change the image.</p>
              <a href="#"><span>BOOK NOW</span></a>
          </div>
      </div>
    </div>
</div>
<div class="row content-with">
    <div class="col-lg-6 col-xl-4">
      <div class="boxes boxes--servicessection">
          <div class="grooming">
              <img class="boxes__image--gromming" src="assets/images/servicess44.jpg" alt="Grommig picture">
          </div>
          <div class="boxes__user-info v-align">
              <h3 class="boxes__title">Grooming</h3>
              <p class="boxes__info">Use this area to describe one of your services. You can change the title to the service you provide and use this text area to describe your service. Feel free to change the image.</p>
              <a href="#"><span>BOOK NOW</span></a>
          </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-4">
      <div class="boxes boxes--servicessection">
          <div class="grooming">
              <img class="boxes__image--gromming" src="assets/images/servicess55.jpg" alt="user picture">
          </div>
          <div class="boxes__user-info v-align">
              <h3 class="boxes__title">Checkup</h3>
              <p class="boxes__info">Use this area to describe one of your services. You can change the title to the service you provide and use this text area to describe your service. Feel free to change the image.Use this area to describe one of your services. You can change the title to the service you provide and use this text area to describe your service. Feel free to change the image.</p>
              <a href="#"><span>BOOK NOW</span></a>
          </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-4">
      <div class="boxes boxes--servicessection">
          <div class="grooming">
              <img class="boxes__image--gromming" src="assets/images/servicess66.jpg" alt="user picture">
          </div>
          <div class="boxes__user-info v-align">
              <h3 class="boxes__title">Dental Care</h3>
              <p class="boxes__info">Use this area to describe one of your services. You can change the title to the service you provide and use this text area to describe your service. Feel free to change the image.</p>
              <a href="#"><span>BOOK NOW</span></a>
          </div>
      </div>
    </div>
</div>
