---
custom_basename: services
---
<div class="container">
    <div class="services-section">
      <h1>House Call Services</h1>
      <div class="row content-with">
          <div class="col-lg-6 col-xl-4">
            <div class="boxes boxes--servicessection" id="expand-info">
                <div class="services-info v-align">
                    <img class="boxes__image--gromming" src="assets/images/dentalcare.jpg" alt="user picture">
                    <h3 class="boxes__title">Dental Care</h3>
                    <h4 class="price">20 min | $25.00</h4>
                    <p class="boxes__info">Describe your service here. What makes it great? Use short catchy text to tell people what you offer, and the benefits they will...</p>
                    <a href="https://www.avma.org/public/PetCare/Pages/default.aspx" class="learn-more">Learn More</a>
                </div>
                <div class="book">
                    <a href="#" class="book-it">Book It</a>
                </div>
            </div>
          </div>
          <div class="col-lg-6 col-xl-4">
            <div class="boxes boxes--servicessection" id="expand-info">
                <div class="services-info v-align">
                    <img class="boxes__image--gromming" src="assets/images/checkup.jpg" alt="user picture">
                    <h3 class="boxes__title">Checkup</h3>
                    <h4 class="price">30 min | $100.00</h4>
                    <p class="boxes__info">Describe your service here. What makes it great? Use short catchy text to tell people what you offer, and the benefits they will...</p>
                    <a href="https://www.avma.org/public/PetCare/Pages/default.aspx" class="learn-more">Learn More</a>
                </div>
                <div class="book">
                    <a href="#" class="book-it"><span>Book It</span></a>
                </div>
            </div>
          </div>
          <div class="col-lg-6 col-xl-4">
            <div class="boxes boxes--servicessection" id="expand-info">
                <div class="services-info v-align">
                    <img class="boxes__image--gromming" src="assets/images/grooming.jpg" alt="Grommig picture">
                    <h3 class="boxes__title">Grooming</h3>
                    <h4 class="price">35 min | $35.00</h4>
                    <p class="boxes__info">Describe your service here. What makes it great? Use short catchy text to tell people what you offer, and the benefits they will...</p>
                    <a href="https://www.avma.org/public/PetCare/Pages/default.aspx" class="learn-more">Learn More</a>
                </div>
                <div class="book">
                    <a href="#" class="book-it"><span>Book It</span></a>
                </div>
            </div>
          </div>
      </div>
      <div class="row content-with">
          <div class="col-lg-6 col-xl-4">
            <div class="boxes boxes--servicessection" id="expand-info">
                <div class="services-info v-align">
                    <img class="boxes__image--gromming" src="assets/images/servicess44.jpg" alt="Grommig picture">
                    <h3 class="boxes__title">Vaccinations</h3>
                    <h4 class="price">15 min | $60.00</h4>
                    <p class="boxes__info">Describe your service here. What makes it great? Use short catchy text to tell people what you offer, and the benefits they will...</p>
                    <a href="https://www.avma.org/public/PetCare/Pages/default.aspx" class="learn-more">Learn More</a>
                </div>
                <div class="book">
                    <a href="#" class="book-it"><span>Book It</span></a>
                </div>
            </div>
          </div>
          <div class="col-lg-6 col-xl-4">
            <div class="boxes boxes--servicessection" id="expand-info">
                <div class="services-info v-align">
                    <img class="boxes__image--gromming" src="assets/images/servicess55.jpg" alt="user picture">
                    <h3 class="boxes__title">Pain Management</h3>
                    <h4 class="price">45 min | $45.00</h4>
                    <p class="boxes__info">Describe your service here. What makes it great? Use short catchy text to tell people what you offer, and the benefits they will...</p>
                    <a href="https://www.avma.org/public/PetCare/Pages/default.aspx" class="learn-more">Learn More</a>
                </div>
                <div class="book">
                    <a href="#" class="book-it"><span>Book It</span></a>
                </div>
            </div>
          </div>
          <div class="col-lg-6 col-xl-4">
            <div class="boxes boxes--servicessection" id="expand-info">
                <div class="services-info v-align">
                    <img class="boxes__image--gromming" src="assets/images/servicess66.jpg" alt="user picture">
                    <h3 class="boxes__title">Behavioral Consultation</h3>
                    <h4 class="price">1 hr 30 min | $200.00</h4>
                    <p class="boxes__info">Describe your service here. What makes it great? Use short catchy text to tell people what you offer, and the benefits they will...</p>
                    <a href="https://www.avma.org/public/PetCare/Pages/default.aspx" class="learn-more">Learn More</a>
                </div>
                <div class="book">
                    <a href="#" class="book-it"><span>Book It</span></a>
                </div>
            </div>
          </div>
      </div>
    </div>
</div>
