.pabandymui{
  .contacttitle{
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    height: auto;
  }
  position: relative;
  clear:both;
  background: $bg-blue;
  color: white;
  input, textarea{
      color: white;
      background: $bg-blue;
      border: none;
      border-bottom: solid 1px;
      &::-webkit-input-placeholder{
      color: white;
    }
      &::-ms-input-placeholder{
      color: white;
    }
      &::placeholder{
      color: white;
    }
  }
  .boxes{
        &--contactsection{
          padding-bottom: 40px;
          text-align: center;
          background: $bg-blue;
          //display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
                  &-inputs{

                  }
        }
        &--contactsectionicon{
          text-align: center;
          background: red;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
        }
        .button {
         background: $bg-blue;
         border: none;
         color: white;
          text-decoration: none;
          cursor: pointer;
        }
        &__image{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            -o-object-fit: cover;
               object-fit: cover;
            margin-right: 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            &--contact{
              width: 288px;
              height: 157px;
            }
        }
    }
}
