.topbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background: $navbar-bg;
    .topbar-row{
      height: $navbar-height;
      .topbar-left{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        &__link{
          text-decoration: none;
          &__icon{
            width: 24px;
            height: 24px;
            fill: $bg-blue;
          }
        }

      }
      .topbar-main{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        .topbar-list{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: space-evenly;
              -ms-flex-pack: space-evenly;
                  justify-content: space-evenly;
          line-height: 50px;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          .topbar-list__link{
            &.active{
              .nav-link{
                  color: red;
              }
            }
            &__call-btn{
              width: 150px;
              height: 50px;
              background: $bg-blue;
              line-height: 50px;
              text-align: center;
              .topbar-list__link__call{
                .phone-number{
                  color: white;
                }
              }
            }
          }
        }
      }
      .topbar-menu{

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        .menu-icon-link{
          display: none;
          .menu-icon{
            width: 24px;
            height: 24px;
            fill: $bg-blue;
          }
        }
      }

    }
  }

@media screen and (max-width: 992px) {
  .topbar{
    .topbar-row{
      .topbar-main{
        .topbar-list{
          .topbar-list__link{
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .topbar{
    background: $navbar-bg;
    .nav-bar{
        position: relative;
        height: 53px;
        &--left{
            float: left;
            width: 200px;
            text-align: center;
            .bla{
              text-decoration: none;
            }
        }
        &--right{
          float: right;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
             -ms-flex-pack: center;
                justify-content: center;
            min-height: 53px;
            width: calc(100%-200px);
        }
        &__lists{
            line-height: 53px;
            display: inline-block;
            text-decoration: none;

            &--left{
              text-decoration: none;
            }
            &--right{
                min-height: 53px;
                float: right;
                width: calc(100%-200px);
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;

                        -webkit-box-orient:horizontal;
                        -webkit-box-direction:reverse;
                            -ms-flex-direction:row;
                                flex-direction:row;
                &--menuu{
                  display: block;
                }
            }
            &__link{

                text-align: center;

                .nav-link{
                  display: none;
                }

            }

            &--svg-icon{
              background: $navbar-bg;
                width: 24px;
                height: 24px;
                fill: $bg-blue;
                margin-right: 10px;

            }
            &--svg-iconhome{
                margin-right: 40px;
            }
            &--svg-iconn{
                margin-right: 40px;

            }

            &--svg-iconnumber{
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              text-align: center;
                width: 150px;
                margin-right: 40px;
                color: white;
                background-color: $bg-blue;
                .phone-number{
                  line-height: 50px;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  background-color: $bg-blue;
                  height: 50px;
                  width: 150px;
                  padding-left: 10px;
                }
            }

        }
    }

  }


}
// }
