.topbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background: $navbar-bg;
    .nav-bar{
        position: relative;
        height: $navbar-height;
        &--left{
            float: left;
            width: $nav-left-width;
            text-align: center;
            .bla{
              text-decoration: none;
            }
        }
        &--right{
          float: right;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
             -ms-flex-pack: justify;
                justify-content: right;
            //margin-left: $nav-left-width;
            min-height: $navbar-height;
            width: calc(100%-240px);
        }

        &__lists{
            line-height: $navbar-height;
            display: inline-block;
            text-decoration: none;

            &--left{
              text-decoration: none;
            }
            &--right{
                float: right;
                width: calc(100%-240px);
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: right;
                    -ms-flex-pack: right;
                        justify-content: right;
                display:inline-block;
            }
            &__link{
                display: inline-block;
                text-align: center;
                &.active{
                  .nav-link{
                    color: red;
                  }
                }

            }

            &--svg-icon{
              background: $navbar-bg;
                width: 24px;
                height: 24px;
                fill: $bg-blue;
                margin-right: 10px;

            }
            &--svg-iconhome{
                margin-right: 40px;
            }
            &--svg-iconn{
                margin-right: 40px;

            }

            &--svg-iconnumber{
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              text-align: center;
                width: 150px;
                margin-right: 40px;
                color: white;
                background-color: $bg-blue;
                .phone-number{
                  line-height: 50px;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  background-color: $bg-blue;
                  height: 50px;
                  width: 150px;
                  padding-left: 10px;
                }
            }

        }
        // .dropdown-menu{
        //     &__item{
        //         display: flex;
        //         padding: 10px 20px;
        //         align-items: center;
        //         .circle{
        //             @include circle($width: 40px, $height: 40px)
        //         }
        //         &__title{
        //             margin-left: 10px;
        //             h5{
        //                 color: $text-color;
        //             }
        //             p{
        //                 color: $mid-gray;
        //
        //             }
        //         }
        //     }
        // }
    }
}
