.side-menu{
    position: fixed;
    top: $nav-height;
    width: $nav-left-width;
    height: 100%;
    background-color: $default-sidenav-bg;
        -webkit-box-shadow: $box-shadow;
         box-shadow: $box-shadow;
    overflow: scroll;
    padding: 20px 0 80px;
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar{
        display: none;
    }
    &__lists{


    &__list{
        padding: 12px 20px;
        position: relative;
        border-left: 3px solid #fff;
        span{
            margin-left: 10px;
        }
        &:hover{
            background-color: $hover-sidenav-bg;
            border-left: 5px solid blue;
            a{
                color: $default-bg;
                text-decoration: none;
            }
            &:after{
                @include arrow();
            }
        }
        a{
            display: flex;
            align-items: center;
            color: inherit;
            color: $text-color;
            svg{
                // margin-right: 10px;
                color: $mid-gray;
            }
        }
        &:after{
            @include arrow($rotate: -45deg);

        }
        &.active{
            background: $bg-color;
            border-left: 5px solid blue;
            a{

                background-color: $default-bg;
                background: $bg-color;
            }
        }


    }
        &__title{
            padding: 12px 20px;
            font-size: 12px;
        }
        }
        &--closed{
            width: 70px;

            .side-menu__lists{
                &__list{
                    span{
                        display: none;
                    }
                    &:after{
                        display: none;
                    }
                }
                &__title{
                    display: none;
                }
            }
        }
    }
